@use "../../scss/variables.scss" as *;

.panel {
  box-sizing: border-box;
  width: calc(50% - $panelsGap);
  height: 40px;
  @extend %centerFlex;
  border-radius: 15px;

  @media screen and (max-width: 490px) {
    height: 30px;
    width: 100%;
  }

  p {
    font-size: 25px;

    @media screen and (max-width: 850px) {
      font-size: 20px;
    }

    @media screen and (max-width: 490px) {
      font-size: 1.2em;
    }
  }
}
