@use '../../scss/variables.scss' as *;

.dragBtn {
  width: 60px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  background-color: $base-color;
  @extend %centerFlex;

  img {
    width: 38px;
  }
}
