@use '../../../scss/variables.scss' as *;

.edtorBtn {
    border-radius: 7px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    backdrop-filter: blur(5px);
    background-color: $base-color;

    img {
      width: 25px;
    }
  }