@use "../../scss/variables.scss" as *;

.todo {
  border: $border-color;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  cursor: pointer;
  max-height: 110px;
  overflow: hidden;
  opacity: 1;
  transition: $transition;

  &AnimEnd {
    transform: translateX(10000px);
    transition: $transition;
  }

  &Active {
    max-height: none;
  }

  &Done {
    opacity: 0.6;
  }

  .text {
    max-width: 80%;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
    overflow: hidden;

    h3,
    p {
      color: $base-color;
      word-wrap: break-word;
      white-space: pre-wrap;
    }

    h3 {
      font-size: large;
      font-weight: bold;
    }

    button {
      background-color: $base-color;
    }
  }

  .checkbox {
    width: 30px;
    margin-right: 15px;
    cursor: pointer;
  }

  .editor {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
}
